<!DOCTYPE html>
<html>
<form action="{% url 'canvas'%}" method="post">
    {% csrf_token %}

    login do canvasa:<br />
    <input type=text" name="login"/><br/>
    hasło do canvasa:<br />
	 <input type="text" name="password" /><br />

	<input type="submit" value="Zapisz" />
</form>
</html>