<html>
<h2 >Login</h2>
{% if form.errors %}
    <div >
    <p>Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" name="username" placeholder="Username" /></dd>
        <dt>Password:</dt>
        <dd><input type="password" name="password" placeholder="Password" /></dd>
        <dd><input type="submit" value="Login"></dd>
    </dl>
</form>
</html>